<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">

            {% for parent in menuItems %}
                {% if parent.hasChildren %}
                    <li class="dropdown">
                        <a href="{{ parent.link }}" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="{{ parent.icon }}"></i> {{ parent.name }}<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            {% for child in parent.childrens %}
                                {% if child.header|length %}
                                    <li class="nav-header">{{ child.header }}</li>
                                    <li class="divider"></li>
                                {% endif %}
                                <li><a href="{{ path(child.link) }}"><i class="{{ child.icon }}"></i> &nbsp;{{ child.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li class=""><a href="{{ path(parent.link) }}"><i class="{{ parent.icon }}"></i>&nbsp;{{ parent.name }}</a></li>
                {% endif %}

            {% endfor %}

        {% if not app.user %}
            <li><a href="{{ path('security_login') }}"><i class="glyphicon glyphicon-log-in"></i>&nbsp;Login</a></li>
        {% endif %}
    </ul>
    {% if app.user and is_granted('ROLE_USER') %}
        <form class="navbar-form pull-right" id="login_form">
            <a href="{{ path('security_logout') }}" class="btn btn-danger" id="submit"><i class="icon-lock"></i> Logout
                <strong>{{ app.user.userName }}</strong></a>
        </form>
    {% endif %}
</div>
<!-- /.navbar-collapse -->